alabaster==0.7.12
Babel==2.6.0
certifi==2018.11.29
chardet==3.0.4
docutils==0.14
funcsigs==1.0.2
idna==2.8
imagesize==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
mock==2.0.0
msgpack-python==0.5.6
numpy==1.16.0
pandas==0.23.4
pbr==5.1.2
py==1.7.0
Pygments==2.3.1
pytest==4.1.1
python-dateutil==2.7.5
pytz==2018.9
requests==2.21.0
scipy==1.2.0
six==1.12.0
snowballstemmer==1.2.1
Sphinx==1.8.3
sphinxcontrib-websupport==1.1.0
typing==3.6.6
ujson==1.35
urllib3==1.24.1
